/** Header **/

.navbar-brand h1 {
  color: #000000;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#header-nav {
  background-color: #ABABAB;
}

#nav-list {
  margin-bottom: 0;
  margin-top: 0;
}

#nav-list li {
  border-bottom: 1px solid #E7E7E7;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

/** Main Content **/
section {
  background-color: #BADA55;
  padding: 5px 10px;
}

h2.text-center {
  font-size: 1.75em;
}

h3.text-center {
  font-size: 1.5em;
}
